/* GuestLanding.css */

.splash-container {
    opacity: 1;
    position: relative;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle at center, #0b2440 0%, #1a466b 50%, #0a2b41 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
  }
  
  .splash-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    /* Your pattern image */
    background-image: url('../../../public/landing.jpeg');
    opacity: 0.9;
    z-index: -2;
    pointer-events: none;
    /* Optional blur effect */
    backdrop-filter: blur(15px);
  }
  