.splash-mask {
  position: absolute;
  width: 100%;
  height: calc(150vh - 64px); /* Adjust as needed */
  top: 64px; /* Adjust as needed */
  background: url('../images/landing.jpeg') center top/cover no-repeat;
  opacity: 0.9;
  z-index: -1;
}

@media (max-width: 768px) {
  .splash-mask {
    /* Adjust the styling for smaller screens */
    height: calc(130vh - 64px);
  }
}

@media (max-width: 576px) {
  .splash-mask {
    /* Further adjustments for even smaller screens */
    height: calc(100vh - 64px);
  }
}
/* Example styles */
#home, #services, #about, #contact {
  padding: 20px;
  margin-top: 20px;
  background-color: #f8f9fa;
  border-radius: 5px;
}
