/* App.css */

:root {
  --primary-color: #3b41e3; /* Adjust your color scheme here */
  --primary-gradient: linear-gradient(to right, #3b41e3, #1b0058);
  --secondary-color: #3202d1;
}
.App-container {
  background-color: var(--primary-gradient);

}
